body {
  font-family: sans-serif;
  background-color: white;
  color: black;
  transition: background 0.4s, color 0.4s;
}

.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
}

.animated-box {
  animation: fadeIn 2s ease-in-out;
  padding: 10px;
  background: #eee;
  border-radius: 8px;
  margin-top: 20px;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
